<div class="flex flex-col justify-between p-4 text-white">
    <header class="w-full">
        <form class="flex flex-col" [formGroup]="todoForm" (ngSubmit)="create()">
            <div class="flex justify-between items-center pb-4">
                <p class="text-xl uppercase text-pink font-semibold tracking-wider mr-4">Список дел</p>
                <button class="border border-pink py-1 px-4 rounded-md" type="submit">Добавить</button>
            </div>
            <div class="flex flex-col text-dark">
                <div class="flex justify-between max-sm:flex-col">
                    <input class="border border-pink rounded-md mr-2 p-2 grow max-sm:mr-0 max-sm:mb-2"
                        placeholder="Название" type="text" formControlName="title">
                    <input class="border border-pink rounded-md p-2" type="date" formControlName="deadline">
                </div>
                <textarea placeholder="Описание" class="border border-pink resize-none rounded-md mt-2 p-2"
                    formControlName="description"></textarea>
            </div>
            <small class="text-error mt-2"
                *ngIf="todoForm.controls.title.hasError('required') && todoForm.controls.title.touched">
                Название обязательное поле
            </small>
            <small class="text-error mt-2"
                *ngIf="todoForm.controls.title.hasError('minlength') && todoForm.controls.title.touched">
                Название должно быть длинее 2х символов
            </small>
        </form>
    </header>

    <main class="grow py-3">
        <ng-container *ngIf="todos.length > 0; else empty">
            <h1 class="w-full text-pink mb-2 text-lg text-center">Задачи</h1>
            <ul class="container__content">
                <li *ngFor="let todo of todos" class="mb-2 flex justify-between">
                    <div class="flex items-center">
                        <input [value]="todo.id" type="checkbox" (change)="complete(todo.id)"
                            [checked]="todo.isCompleted" class="mr-4">
                        <a [routerLink]="['/todo', todo.id]">
                            <span class="mr-2">{{todo.title}}</span>
                            <small class="text-grey mr-2" *ngIf="todo.todos.length > 0">Подзадач
                                {{ todo.todos | filter : 'isCompleted' : true}} / {{todo.todos.length}}
                            </small>
                        </a>
                    </div>
                    <div class="flex">
                        <button (click)="createNested(todo.id)">
                            <span class="iconify text-xl mr-6 ml-8" data-icon="material-symbols:add-box-rounded"></span>
                        </button>

                        <button (click)="delete(todo.id)">
                            <span class="iconify text-xl mr-2" data-icon="material-symbols:delete"></span>
                        </button>
                    </div>
                </li>
            </ul>
        </ng-container>

        <ng-template #empty>
            <div class="py-8 flex flex-col items-center justify-center w-full h-full border-b border-pink">
                <img class="w-3/4" src="assets/empty.svg" alt="">
                <h1 class="text-center text-lg mt-4 w-3/4">Вы пока еще ничего не добавили в список</h1>
            </div>
        </ng-template>
    </main>

    <footer class="flex justify-between items-center text-grey">
        <p class="text-grey">Задач: {{todos.length}}</p>
        <button (click)="deleteCompleted()">Удалить выполненные</button>
    </footer>
</div>


<!-- <div class="container">
    <form class="container__header" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <input class="border" type="text" formControlName="title">
        <textarea class="border resize-none" formControlName="description"></textarea>
        <input class="border" type="date" formControlName="deadline">
        <button class="border" type="submit">Добавить</button>
    </form>

    <ul class="container__content">
        <li *ngFor="let todo of todos">
            <input [value]="todo.id" type="checkbox" (change)="complete(todo.id)" [checked]="todo.isCompleted">
            <a [routerLink]="['/todo', todo.id]">
                <label>{{todo.title}}</label>
                <small *ngIf="todo.todos.length > 0">Таска с подзадачами</small>
            </a>
            <button (click)="createNested(todo.id)">Add nested</button>
            <button (click)="delete(todo.id)">Delete</button>
        </li>
    </ul>

    <p>Всего тасок: {{todos.length}}</p>
</div> -->
