@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body,
html {
    min-height: 100%;
    min-width: 100%;
}

* {
    box-sizing: border-box;
}
