<div class="flex flex-col justify-between p-4 text-white">
    <header class="flex items-center justify-between w-full mb-4">
        <div class="flex items-center">
            <a [routerLink]="['/home']">
                <span class="iconify text-2xl" data-icon="material-symbols:arrow-back"></span>
            </a>
            <p class="text-lg ml-4 mr-12">Основная задача</p>
        </div>
        <button (click)="delete(todoId)">
            <span class="iconify text-2xl mr-2" data-icon="material-symbols:delete"></span>
        </button>
    </header>

    <main>
        <div class="flex flex-col">
            <div class="flex mb-4 items-center">
                <input [value]="todo.id" type="checkbox" (change)="complete(todoId)" [checked]="todo.isCompleted"
                    class="mr-2 h-5 w-5">
                <h1 class="text-justify leading-relaxed">{{todo.title}}</h1>
            </div>
            <div class="flex flex-col">
                <p class="text-justify leading-relaxed" *ngIf="todo.description!.length > 0">{{todo.description}}</p>
                <p class="self-end mt-4" *ngIf="todo.deadline!.length > 0">Дата окончания: {{todo.deadline}}</p>
            </div>
        </div>

        <div class="flex flex-col" *ngIf="todo.todos.length > 0">
            <p class="text-xl">Подзадачи:</p>
            <div *ngFor="let t of todo.todos" class="mt-4">
                <div class="flex mb-4 justify-between">
                    <div class="flex items-center">
                        <input [value]="t.id" type="checkbox" (change)="completeNested(t.id, todo.id)"
                            [checked]="t.isCompleted" class="mr-2">
                        <p class="text-justify leading-relaxed">{{t.title}}</p>
                    </div>
                    <button (click)="deleteNested(t.id, todoId)">
                        <span class="iconify text-2xl ml-8" data-icon="material-symbols:delete"></span>
                    </button>
                </div>
                <div class="flex flex-col">
                    <p class="text-justify leading-relaxed" *ngIf="t.description!.length > 0">{{t.description}}</p>
                    <p class="self-end mt-2" *ngIf="t.deadline!.length > 0">Дата окончания: {{t.deadline}}</p>
                </div>
            </div>
        </div>
    </main>
</div>
